.mainodydiv {
    display: grid;
    grid-column-gap: 3%;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    margin: 7px 0 11px 8px;
    grid-template-columns: 2fr 4fr;
    padding-bottom: 8px;
    border-radius: 0px 15px 15px 15px;
    text-align: center;
    height: -moz-fit-content;
    height: fit-content;
    width: 93vw;
    margin: 10px auto;
    background: #bfbebe3b;
    box-shadow: 0px 2px 3px black;
}
img.postimg {
    height: 12vh;
    margin-top: 4%;
    width: 46%;
    border: 2px solid #0000002e;
    border-radius: 5px;
}
.firstdiv {
    border-right: 2px solid #cecccc;
    font-family: monospace;
    height: fit-content;
}
.seconddiv {
    font-family: monospace;
    height: fit-content;
    font-size: 17px;
}
img.adding {
    width: 23px;
    right: 5px;
    margin: 3px;
}