.postheader {
    display: grid;
    grid-column-gap: 3%;
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    margin: 7px 0 11px 8px;
    grid-template-columns: 1fr 4fr;
    padding-bottom: 8px;
    border-bottom: 3px solid #d4d3ce;
    text-align: center;
    /* overflow: auto; */
    width: 95vw;
    margin: 5px auto;
}

.postheader .card{
   width: auto;
}
.postheader img{
    height: 71px;
    width: auto;
}
.h5, h5 {
    font-size: 1rem;
    font-family: monospace;
    padding: 5px 2px;
    margin-bottom: 0;
}
.btn-block {
    display: block;
    width: 75%;
    margin: auto;
}
.addpost{
    position: sticky;
    bottom: 45px;
    right: 20px;
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px 90vw;
}
body{
    width: 100vw;
    min-height: 100vh;
}
#root{
    width: 100vw;
    min-height: 100vh;
}
#footer{
    position: fixed;
    bottom: 0px;
}
.card-img-overlay {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0rem;
    border-radius: calc(.25rem - 1px);
}